@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: rgb(90, 71, 194);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(./assets/kisspng-filmstrip-template.png);
  background-size: 700px 150px;
  background-repeat: repeat;
  font-family: Verdana, sans-serif;
  min-height: 100vh;
}

/* * {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}

body {
  margin: 0;
  background-color: rgb(90, 71, 194);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(./assets/kisspng-filmstrip-template.png);
  background-size: 700px 150px;
  background-repeat: repeat;
  font-family: Verdana, sans-serif;
}

.search-container {
  margin-top: 200px;
}

label {
  padding-left: 20px;
  padding-right: 20px;
}

input {
  margin-right: 20px;
} */
